body{

    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4{

    text-transform: uppercase;
    font-weight: bold;
    color: brown;
    margin-top: 10px ;
}

p{

    font-size: 1.2em;
}

.table{

    background-color: blue;
    color: #fff;
}

footer {

    border: solid 2px red;
}

.nav-link{

    color: blueviolet;
    font-size: 1.5em;
}

